<h1>Text analyser</h1>
<form novalidate name="form">
  <div class="form-group">
    <textarea class="form-control" ng-model="vm.text" name="inputText" rows="3" required></textarea>
    <br />
    <div ng-show="form.$submitted || form.inputText.$touched">
      <span ng-show="!vm.wordCountValid">Please enter text between 5 and 500 words.</span>
      <br ng-if="!vm.wordCountValid && vm.containsNumbers" />
      <span ng-show="vm.containsNumbers">Numbers are not allowed.</span>
    </div>
  </div>
  <button class="btn" ng-click="vm.analyse()" ng-disabled="form.inputText.$error.required || !vm.wordCountValid || vm.containsNumbers">Analyse</button>
</form>

<results-table results="vm.results" comma-count="vm.commaCount" full-stop-count="vm.fullStopCount"></results-table>
